function q1() {
  // Write a function that will return the number 5
  // start
  return 5;
  // end
}
// console.log(q1());

function q2(a, b) {
  // Write a function that will return the value of a + b
  // start
  return a + b;
  // end
}
// console.log(q2(1, 2));

function q3(number_array) {
  // Write a function that sums all values in an array
  // start
  let sum = 0;
  for (const value of number_array) {
    sum += value;
  }
  return sum;
  // end
}
// console.log(q3([1,3,5,1]));

function q4(user) {
  // user is an object that has fields 'name' and 'email'
  // Return the values of name and email
  // in this format: "Myname, email@email.com"
  // start
  return `${user.name}, ${user.email}`
  // end
}
// console.log(q4({id: 3, name: 'Demo', email: 'example@gmail.com'}))

function q5(number1, number2) {
  // Return true if number1 is bigger than number2
  // Otherwise return false
  // start
  return (number1 > number2) ? true : false
  // end
}
// console.log(q5(4, 2))

// Export each function so the test can import them
module.exports = {
  q1, q2, q3, q4, q5
};
